<!DOCTYPE html>
<html lang="en">
    <head>
    {% block head %}
    <title>Lab 1: Data security</title>
    {% endblock %}
    <script src="https://kit.fontawesome.com/2bd72336da.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body class="container vertical">
    <header class="banner">
        <div class="banner-contents container align-center">
            <h1 class="flex-grow">DocuZone</h1>
            {% block header %}
            {% if user %}
            <h2><i class="fas fa-user"></i> {{ user.username }}</h2>
            {# <h2><i class="fas fa-user-slash"></i> Sign out</h2>
            <h2><i class="fas fa-undo"></i> Reset account</h2> #}
            {% endif %}
            {% endblock %}
        </div>
    </header>
    <main class="flex-grow">
        {% block content %}{% endblock %}
    </main>
    <footer class="centered">
        {% block footer %}
        For educational purposes only.
        {% endblock %}
    </footer>
</body>
</html>