{% extends "base.html" %}

{% block content %}
<a class="nostyle" href="/"><h2><i class="fas fa-chevron-left"></i> Back</h2></a>

<h1><b>This File Has Been Deleted</b></h1>

<div>
</div>
{% endblock %}