{% extends "base.html" %}

{% block content %}
<a class="nostyle" href="/"><h2><i class="fas fa-chevron-left"></i> Back</h2></a>

<h1>Editing: {{ document.title }}</h1>

<form action="/document/{{document.id}}?{{ build_query(user, "edit") }}" method="POST", id="editor">
    {{ form.csrf_token }}
    <dd><textarea id="content" maxlength="2048" name="content" required="">{{ document.content }}</textarea>
    {% if form.content.errors %}
        <ul class="errors">
            {% for error in form.content.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </dd>
</form>

<button type="submit" form="editor" value="Save">
    <i class="fas fa-save"></i> Save
</button>

<div>
</div>
{% endblock %}