{% extends "base.html" %}

{% block content %}
<a class="nostyle" href="/"><h2><i class="fas fa-chevron-left"></i> Back</h2></a>

{% if message %}
{{ message }}
{% else %}
And unspecified error occured.
{% endif %}
{% endblock %}