{% extends "base.html" %}

{% block content %}

<h1>All Documents</h1>

<div class="container vertical">
  {% for document in documents %}
  <a class="nostyle" href="/document/{{ document.id }}?{{ build_query(user, "view") }}">
    <div class="document-link">
      <h2>{{ document.title }}</h2>
      <span>Created by {{document.owner}} at {{document.created.strftime("%m/%d/%Y, %H:%M:%S")}}</span>
    </div>
  </a>
  {% endfor %}

  <a class="nostyle" href="/create">
    <button><i class="fas fa-file"></i> New file</button>
  </a>

  <form action="/" method="POST">
    {{ form.csrf_token }}
    <dt><h1>{{ form.question_level.label }}</h1></dt>
    <dd>{{ form.question_level(onchange="this.form.submit()") }}
    {% if form.question_level.errors %}
        <ul class="errors">
            {% for error in form.question_level.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </dd>
  </form>
</div>
{% endblock %}