{% extends "base.html" %}

{% block header %}
{% endblock %}
{% block content %}

<form action="/login" method="POST" id="editor">
    {{ form.csrf_token }}
    <dt><h1>{{ form.username.label }}</h1></dt>
    <dd>{{ form.username }}
    {% if form.username.errors %}
        <ul class="errors">
            {% for error in form.username.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </dd>
    <dt><h1>{{ form.password.label }}</h1></dt>
    <dd>{{ form.password }}
    {% if form.password.errors %}
        <ul class="errors">
            {% for error in form.password.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </dd>
</form>

<button type="submit" form="editor" value="Save">
    <i class="fas fa-user-plus"></i> Sign up
</button>

{% endblock %}