{% extends "base.html" %}

{% block content %}
<a class="nostyle" href="/"><h2><i class="fas fa-chevron-left"></i> Back</h2></a>

<h1>Viewing: {{ document.title }}</h1>

<textarea class="view" readonly>{{ document.content }}</textarea>

<div>
{% if edit_permitted %}
<a class="nostyle" href="/document/{{document.id}}?{{ build_query(user, "edit") }}">
    <button>
        <i class="fas fa-edit"></i> Edit
    </button>
</a>
{% else %}
<button title="You do not have permission to edit this file."  disabled>
    <i class="fas fa-edit"></i> Edit
</button>
{% endif %}

{% if delete_permitted %}
<a class="nostyle" href="/document/{{document.id}}?{{ build_query(user, "delete") }}">
    <button>
        <i class="fas fa-trash"></i> Delete
    </button>
</a>
{% else %}
<button title="You do not have permission to delete this file." disabled>
    <i class="fas fa-trash"></i> Delete
</button>
{% endif %}
</div>
{% endblock %}